/* Formateo de CSS y gradiant */

html {
    min-height: 100vh;
    min-width: 100vw;
}
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(to bottom, #EDC46F, #F7BE74, #E0A174, #F79874, #ED7F6F);
    font-family: 'MuseoModerno', cursive;
}

/* Navbar */
.nav-link:hover{
    font-weight: 600;
}
/* Titulo index */
#welcomeTitle{
    font-size: 4rem;
    font-weight: 100;
    text-shadow: 1px 1px 3px black;
    font-family: 'Splash', cursive;
}


/* Estilos del form*/


.contenedor-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario {
    text-align: center;
    background-color:#F5F5F5;
    border-radius: 4rem;
    padding: 3rem;
}

.contenedor-moneda {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

.contenedor-cantidad {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}
#buttonCompra{
    margin-top: 1rem;
}

.contenedor-boton-wallet{
    margin-top: 2rem;
}

label {
    margin-bottom: 1rem;
    font-weight: 700;
}

select {
    width: 6rem;
    border-radius: 4rem;
    text-align: center;
}

input {
    border-radius: 4rem;
}


/* Boton con Hoover */

button {
    padding: 0.8em 1.8em;
    border: 2px solid #17C3B2;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    transition: .3s;
    z-index: 1;
    font-family: inherit;
    color: #17C3B2;
}

button::before {
    content: '';
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #17C3B2;
    transition: .5s ease;
    display: block;
    z-index: -1;
}

button:hover::before {
    width: 105%;
}

button:hover {
    color: #111;
}

/* Resultados Wallet */
.cardContenedor{
    margin: 2rem;
    text-align: center;
}
.card{
    border-radius: 1rem;
}
.card-img-top{
    height: 11rem;
    width: 100%;
    border-radius: 1rem;
}
.card-title{
    font-weight: 800;
}
/* Historial de compras */

#listadoTransacciones{
    background-color: #111;
    border-radius: .3rem;
    color: #00EB09;
}
.transaccionItem{
    margin: .5rem;
    animation-duration: 3s;
    animation-name: show;
    animation-iteration-count: 1;
}

@keyframes show{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

